#contact {
    padding: 60px;
    background-color: #f1f2f6;
}

.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #ff7f50;
}

.contact-description {
    margin-top: -10px;
    color:#747d8c;
}