.expertise-description {
    margin-bottom: 30px;
}

.ed-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #ff7f50;
}

.ed-gray-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #2f3542;
}

.ed-description {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    color: #57606f;
}

.ed-link {
    color: #ff7f50;
}

.ed-link:hover {
    color: #ff6348;
}