

.info-li {
    list-style: none;
    margin-left: -20px;
    text-align: justify;
    font-size: .9em;
}

#information {
    color:#57606f;
}

.info-actividades {
    font-family: 'Montserrat', sans-serif;
    color: #2f3542;
    font-size: .9em;
    font-weight: 900;
}

#information {
    margin-bottom: 30px;
}

.info-date {
    color: #a4b0be;
}

.info-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ff7f50;
}

.info-text {
    font-size: 0.9em;
    margin-top: -15px;
}

.info-span {
    font-weight: 600;
    color: #57606f;
}