#information-section {
    background-color: white;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
}

@media (max-width: 768px) {
    #information-section {
        overflow-y: unset;
    }
}