.task {
    padding: 30px;
}

.task-container {
    max-width: 200px;
    cursor: pointer;
    padding: 20px;
    padding-top: 80px;
    /* background-color: #57606f; */
    background-color: #2f3542;

    /* color: #ffffff; */
    color: #ff7f50;

}

.task-container:hover {
    /* background-color: #2f3542; */
    background-color: #ff7f50;

    /* color: #ff6348; */
    color: #2f3542;

}

.task-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.task-description {
    margin-top: -10px;
}